<footer class="mastfoot mt-auto">
     <div class="inner">
          <p>Created by <a href="https://twitter.com/coolbots7" target="_blank">@coolbots7</a> - <a href="https://www.coolbots7.io" target="_blank">www.coolbots7.io</a></p>
     </div>
</footer>
