<header class="masthead mb-auto">
     <div class="inner">
          <h3 class="masthead-brand"><a href="/">MicroURL</a></h3>
          <nav class="nav nav-masthead justify-content-center">
               <a class="nav-link active" href="/">Home</a>
               <a class="nav-link" href="/all">All</a>
          </nav>
     </div>
</header>
