<!DOCTYPE html>
<html>

<head>
     <% include partials/head %>
</head>

<body>
     <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <% include partials/navbar %>

          <main role="main" class="inner cover">
               <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6> -->
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>ID</th>
                                   <th>Code</th>
                                   <th>Url</th>
                                   <th>Hits</th>
                                   <th>Created On</th>
                                   <th>Remote Address</th>
                                   <th>Browser Name</th>
                                   <th>Browser Version</th>
                                   <th>Country</th>
                                   <th>Region</th>
                                   <th>EU</th>
                                   <th>Time Zone</th>
                                   <th>City</th>
                                   <th>Latitude</th>
                                   <th>Longitude</th>
                                   <th>Metro</th>
                                   <th>Area</th>
                              </tr>
                         </thead>
                         <tbody>
                              <% shortened_urls.forEach(function(url) { %>
                              <tr>
                                   <td><a href="/<%= url.Code %>/log" class="text-primary"><%= url.URL_ID %></a></td>
                                   <td><a href="/<%= url.Code %>" target="_blank" class="text-primary"><%= url.Code %></a></td>
                                   <td><%= url.URL %></td>
                                   <td><%= url.Hits %></td>
                                   <td><%= url.CreatedOn %></td>
                                   <td><%= url.RemoteAddress %></td>
                                   <td><%= url.BrowserName %></td>
                                   <td><%= url.BrowserVersion %></td>
                                   <td><%= url.Country %></td>
                                   <td><%= url.Region %></td>
                                   <td><%= url.EU %></td>
                                   <td><%= url.TimeZone %></td>
                                   <td><%= url.City %></td>
                                   <td><%= url.Latitude %></td>
                                   <td><%= url.Longitude %></td>
                                   <td><%= url.Metro %></td>
                                   <td><%= url.Area %></td>
                              </tr>
                              <% }); %>
                         </tbody>
                    </table>
               </div>
          </main>

          <% include partials/footer %>

     </div>
</body>

<% include partials/scripts %>

</html>
