<!DOCTYPE html>
<html>

<head>
     <% include partials/head %>
</head>

<body>
     <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <% include partials/navbar %>          

          <main role="main" class="inner cover">
               <% if(!locals.short_url) { %>
               <h1 class="cover-heading">Shorten your URL</h1>
               <form method="post" action="/" class="needs-validation" novalidate>
                    <div class="form-row">
                         <div class="input-group mb-3">
                              <input type="url" class="form-control" placeholder="Shorten your URL" name="url" aria-label="Shorten your URL" required>
                              <div class="input-group-append">
                                   <button class="btn btn-primary" type="submit" id="button-addon2">Shorten</button>
                              </div>
                              <div class="invalid-feedback">
                                   Please enter a valid URL
                              </div>
                         </div>
                    </div>
               </form>
               <% }  else {%>

               <h1>Your MicroURL</h1>
               <div class="input-group mb-3">
                    <input type="url" class="form-control" id="short_url" value="<%= short_url %>" readonly>
                    <div class="input-group-append">
                         <button class="btn btn-primary" type="submit" onclick="copyShortURlToClipboard()" id="button-addon2">Copy</button>
                    </div>
               </div>

               <p class="lead">
                    <a href="/" class="btn btn-md btn-secondary">Shorten another</a>
               </p>
               <% } %>
          </main>


          <% include partials/footer %>

     </div>
</body>

<% include partials/scripts %>


<script>
     // Example starter JavaScript for disabling form submissions if there are invalid fields
     (function() {
          'use strict';
          window.addEventListener('load', function() {
               // Fetch all the forms we want to apply custom Bootstrap validation styles to
               var forms = document.getElementsByClassName('needs-validation');
               // Loop over them and prevent submission
               var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                         if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                         }
                         form.classList.add('was-validated');
                    }, false);
               });
          }, false);
     })();

     function copyShortURlToClipboard() {
          /* Get the text field */
          var copyText = document.getElementById("short_url");

          /* Select the text field */
          copyText.select();

          /* Copy the text inside the text field */
          document.execCommand("copy");
     }
</script>

</html>
