<!DOCTYPE html>
<html>

<head>
     <% include partials/head %>
</head>

<body>
     <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <% include partials/navbar %>

          <main role="main" class="inner cover">
               <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0"><%= code %> Log</h6>
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>Created On</th>
                                   <th>Remote Address</th>
                                   <th>Browser Name</th>
                                   <th>Browser Version</th>
                                   <th>Country</th>
                                   <th>Region</th>
                                   <th>EU</th>
                                   <th>Time Zone</th>
                                   <th>City</th>
                                   <th>Latitude</th>
                                   <th>Longitude</th>
                                   <th>Metro</th>
                                   <th>Area</th>
                              </tr>
                         </thead>
                         <tbody>
                              <% log.forEach(function(hit) { %>
                              <tr>
                                   <td><%= hit.CreatedOn %></td>
                                   <td><%= hit.RemoteAddress %></td>
                                   <td><%= hit.BrowserName %></td>
                                   <td><%= hit.BrowserVersion %></td>
                                   <td><%= hit.Country %></td>
                                   <td><%= hit.Region %></td>
                                   <td><%= hit.EU %></td>
                                   <td><%= hit.TimeZone %></td>
                                   <td><%= hit.City %></td>
                                   <td><%= hit.Latitude %></td>
                                   <td><%= hit.Longitude %></td>
                                   <td><%= hit.Metro %></td>
                                   <td><%= hit.Area %></td>
                              </tr>
                              <% }); %>
                         </tbody>
                    </table>
               </div>
          </main>

          <% include partials/footer %>

     </div>
</body>

<% include partials/scripts %>

</html>
